<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcc.ghurbo">

    <!-- network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- phone call permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- permissions to receive SMS automatically -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- fetch accounts permission -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- SD card write permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.WebPageActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.TourListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.HotelListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.TourDetailsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.ProfilingActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ImageViewActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.HotelDetailsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.RoomDetailsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.BookNowActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.FavoriteActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.MyBookingsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.BookingDetailsActivity"
            android:theme="@style/AppTheme" />

        <!-- Facebook Login Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/facebook_account_kit_client_token" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:configChanges="locale|keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/FbAccountKitTheme"
            tools:replace="android:theme" />
        <!-- end of Facebook Login Activity -->

        <provider
            android:authorities="@string/content_authority"
            android:name=".data.sqlite.FavouriteProvider"
            android:exported="false"
            android:syncable="true"/>

    </application>

</manifest>